In [ ]:
import pandas as pd
from sklearn.datasets import make_classification

In [ ]:
x,y = make_classification(n_samples = 10000, n_features=30)

In [ ]:
x.shape

(10000, 30)

In [ ]:
pd.DataFrame(y)

      0
0     0
1     0
2     1
3     1
4     1
...  ..
9995  1
9996  1
9997  1
9998  1
9999  1

[10000 rows x 1 columns]

In [ ]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.825937,-1.386942,-0.093870,0.571666,0.466058,-0.998421,-0.475934,0.511354,0.106596,-0.878893,...,-0.106145,1.083136,-0.006577,0.978614,0.908455,0.126481,0.558819,-0.429248,0.840003,-1.389175
1,0.374112,0.131558,1.090998,1.335696,0.579757,0.625386,-2.173607,-0.059335,-0.185396,-1.006718,...,0.904364,-2.221113,0.133843,-2.129695,0.092299,0.302751,2.516457,-1.333695,0.313660,0.064861
2,0.136478,-0.794517,0.863525,-0.273699,0.926681,0.484629,1.203299,0.084627,1.528847,-1.283974,...,1.093295,1.967127,-0.140909,-2.103341,0.146478,-0.715741,-0.242987,-0.858918,-0.961960,0.011909
3,-0.960549,0.593297,-1.194615,-1.191047,0.392982,0.134556,1.749298,1.068637,0.577453,0.752430,...,-1.765246,-1.489977,-0.779673,-0.459873,-1.196516,-1.024179,-1.460827,-1.265425,-0.305762,-0.271138
4,0.831812,0.828814,-1.008050,2.881738,-0.297051,1.327337,-1.327908,0.456308,0.200968,0.669268,...,0.358080,-1.394160,-0.291303,0.302218,0.608819,-2.184929,1.528990,-0.765280,-0.605476,0.723530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.166437,0.535399,0.451484,-0.019735,0.154055,1.899527,-0.352533,-0.636405,2.309422,-0.133381,...,0.481203,-0.642545,-0.273930,-0.985611,-0.312524,-0.599429,0.878380,0.383293,-0.676121,-1.606944
9996,-0.285850,0.597706,-0.577313,0.513643,0.696674,-0.586912,-0.739507,1.331540,-1.748604,-1.109658,...,-1.894631,-0.157727,-2.097095,-0.936363,-0.182551,0.061774,-0.056176,0.193386,-0.251707,-0.102652
9997,0.442187,-1.237143,-2.750978,0.019454,0.398964,-1.208814,1.780092,-1.223858,-2.028742,0.857992,...,-0.653969,1.192854,1.146223,0.175565,1.025542,-0.278562,-0.878078,-0.053640,-0.562221,-0.140611
9998,-1.146817,0.752021,-1.220857,-0.652272,-0.054743,0.468969,0.306136,-0.324495,-0.086991,-0.477019,...,0.746330,-0.139909,-0.122694,0.503315,-0.882332,-2.821694,-1.722036,-1.044345,-0.704432,0.446292
9999,-0.550434,2.078059,0.440347,-0.387472,1.310093,0.159786,-0.579980,-0.396434,-1.613612,1.485696,...,-0.764385,0.560954,-1.071252,-0.174207,-0.716943,-0.106976,0.433687,0.404974,-0.157561,-0.199121

In [ ]:
from sklearn.model_selection import train_test_split as tts

In [ ]:
xtrain,xtest,ytrain,ytest = tts(x,y,test_size=3000,random_state=45)

In [ ]:
xtest.shape

(3000, 30)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
train_score = []
test_score = []

In [ ]:
max_depth = [n for n in range(1,30)]

In [ ]:
max_depth

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [ ]:
for depth in max_depth:
  clf = DecisionTreeClassifier(max_depth=depth)
  clf.fit(xtrain,ytrain)

  #training accuracy
  train_acc = clf.score(xtest,ytest)
  train_score.append(train_acc)

  #test accuracy
  test_acc = clf.score(xtest,ytest)
  test_score.append(test_score)

  print("Max depth = %d, training_accuracy = %f, test_accuracy = %f "%(depth,train_acc,test_acc))

Max depth = 1, training_accuracy = 0.879667, test_accuracy = 0.879667
Max depth = 2, training_accuracy = 0.891667, test_accuracy = 0.891667
Max depth = 3, training_accuracy = 0.910667, test_accuracy = 0.910667
Max depth = 4, training_accuracy = 0.924667, test_accuracy = 0.924667
Max depth = 5, training_accuracy = 0.926667, test_accuracy = 0.926667
Max depth = 6, training_accuracy = 0.922667, test_accuracy = 0.922667
Max depth = 7, training_accuracy = 0.914667, test_accuracy = 0.914667
Max depth = 8, training_accuracy = 0.914667, test_accuracy = 0.914667
Max depth = 9, training_accuracy = 0.913667, test_accuracy = 0.913667
Max depth = 10, training_accuracy = 0.914000, test_accuracy = 0.914000
Max depth = 11, training_accuracy = 0.905000, test_accuracy = 0.905000
Max depth = 12, training_accuracy = 0.901000, test_accuracy = 0.901000
Max depth = 13, training_accuracy = 0.903000, test_accuracy = 0.903000
Max depth = 14, training_accuracy = 0.894333, test_accuracy = 0.894333
Max depth = 15, training_accuracy = 0.898333, test_accuracy = 0.898333
Max depth = 16, training_accuracy = 0.896667, test_accuracy = 0.896667
Max depth = 17, training_accuracy = 0.897667, test_accuracy = 0.897667
Max depth = 18, training_accuracy = 0.893333, test_accuracy = 0.893333
Max depth = 19, training_accuracy = 0.892000, test_accuracy = 0.892000
Max depth = 20, training_accuracy = 0.898667, test_accuracy = 0.898667
Max depth = 21, training_accuracy = 0.897333, test_accuracy = 0.897333
Max depth = 22, training_accuracy = 0.897000, test_accuracy = 0.897000
Max depth = 23, training_accuracy = 0.895000, test_accuracy = 0.895000
Max depth = 24, training_accuracy = 0.891667, test_accuracy = 0.891667
Max depth = 25, training_accuracy = 0.891000, test_accuracy = 0.891000
Max depth = 26, training_accuracy = 0.895333, test_accuracy = 0.895333
Max depth = 27, training_accuracy = 0.890333, test_accuracy = 0.890333
Max depth = 28, training_accuracy = 0.890333, test_accuracy = 0.890333
Max depth = 29, training_accuracy = 0.891333, test_accuracy = 0.891333

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.plot(max_depth, train_score, '-o', label = 'Train')
plt.plot(max_depth, test_score, '-o', label = 'Test')
plt.legend()